<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    {% block title %}
        <title>kdkdk</title>
    {% endblock %}
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
                {{ encore_entry_link_tags('app') }}

        {#        Renders a link tag (if your module requires any CSS)#}
{#        <link rel="stylesheet" href="/build/app.css">#}
    {% endblock %}
</head>
<body>
<!-- ... -->
<div id="app">
    {% block body %}

    {% endblock %}
</div>

{% block javascripts %}
        {{ encore_entry_script_tags('app') }}

{#    <script src="/build/runtime.js"></script>#}
{#    <script src="/build/app.js"></script>#}
{% endblock %}
</body>
</html>